<h2>Sign In</h2>
<div class="container">
    <div class="row">
        <div class="error-message alert alert-danger" *ngIf="errorMsg">
            {{errorMsg}}
        </div>
        <form [formGroup]="signIn" (ngSubmit)="onSubmit($event)">
            <div class="form-group">
                <label for="signInEmail">Enter your email</label>
                <input type="text" name="signInEmail" id="signInEmail" formControlName="signInEmail">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!signIn.valid">Submit</button>
        </form>
    </div>
</div>